body 
{
color:violet;
}
.left
{
float:left;
background:yellow;
width:33%;
}
.right
{
float:center;
background:blue;
width:33%;
}
.popa
{
float:right;
background:pink;
width:33%;
}